<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/style.css" type="text/css"/>
    <title>Creando Publicacion</title>

</head>
<body class="fondo">
<div class="contenedor-form-publicacion">
    <form method="post" enctype="application/x-www-form-urlencoded" id="formularioPublicacion">
        <label for="titulo" class="fuente-formulario">Titulo</label>
        <textarea
                name="titulo"
                id="titulo"
                placeholder="Ingrese el titulo"
                maxlength="125"
                class="form-publicacion-titulo"
        ></textarea>
        <label for="contenido" class="fuente-formulario">Contenido
            <p id="contador-caracteres"><span id="contador">0</span>/125</p>
        </label>
        <textarea
                name="contenido"
                id="contenido"
                placeholder="Ingrese el contenido"
                class="form-publicacion-contenido"
        ></textarea>
        <br>
        <button type="submit" class="boton-publicar"
                onclick="return validarPublicacion()"
                formaction="http://localhost:8080/api/v1/publicacion"
        >Postear
        </button>
        <button type="submit" class="boton-guardar-borrador"
                onclick="return validarBorrador()"
                formaction="http://localhost:8080/api/v1/borrador-publicacion"
        >Guardar borrador
        </button>
        <br><br>
    </form>
</div>
<div>
    <img src="/static/css/img/reglas-lup.jpeg" class="img-reglas" alt="Logo Reglas">
    <div class="reglas">
        1. Contenido inapropiado
        <br><br>
        2. Respeto a la privacidad
        <br><br>
        3. No spam
        <br><br>
        4. Busca la fuente original del contenido
        <br><br>
        5. Derechos de autor
        <br><br>
        6. Lee las reglas de la comunidad
    </div>
    <br>
    <div class="politicas">
        Por favor, ten en cuenta la Politica de contenido de Lup
    </div>
</div>
</body>
<script src="../static/javascript/creacionPublicacion.js"></script>
</html>